<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>pe.linea1.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdminServlet</servlet-name>
        <servlet-class>pe.linea1.servlet.HomeAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilServlet</servlet-name>
        <servlet-class>pe.linea1.servlet.PerfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificacionServlet</servlet-name>
        <servlet-class>pe.linea1.servlet.NotificacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitudCambioAdminServlet</servlet-name>
        <servlet-class>pe.linea1.servlet.SolicitudCambioAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionConductoresServlet</servlet-name>
        <servlet-class>pe.linea1.servlet.GestionConductoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgramacionTurnosServlet</servlet-name>
        <servlet-class>pe.linea1.servlet.ProgramacionTurnosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportesServlet</servlet-name>
        <servlet-class>pe.linea1.servlet.ReportesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuditoriaServlet</servlet-name>
        <servlet-class>pe.linea1.servlet.AuditoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeConductorServlet</servlet-name>
        <servlet-class>pe.linea1.servlet.HomeConductorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerTurnosServlet</servlet-name>
        <servlet-class>pe.linea1.servlet.VerTurnosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarCambioServlet</servlet-name>
        <servlet-class>pe.linea1.servlet.GestionarCambioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarTurnosDisponiblesServlet</servlet-name>
        <servlet-class>pe.linea1.servlet.BuscarTurnosDisponiblesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistorialCambiosConductorServlet</servlet-name>
        <servlet-class>pe.linea1.servlet.HistorialCambiosConductorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitudesPendientesConductorServlet</servlet-name>
        <servlet-class>pe.linea1.servlet.SolicitudesPendientesConductorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestDBServlet</servlet-name>
        <servlet-class>pe.linea1.servlet.TestDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarConductorServlet</servlet-name>
        <servlet-class>pe.linea1.servlet.AgregarConductorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarConductorServlet</servlet-name>
        <servlet-class>pe.linea1.servlet.EditarConductorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarConductorServlet</servlet-name>
        <servlet-class>pe.linea1.servlet.EliminarConductorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdminServlet</servlet-name>
        <url-pattern>/HomeAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilServlet</servlet-name>
        <url-pattern>/PerfilServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificacionServlet</servlet-name>
        <url-pattern>/NotificacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitudCambioAdminServlet</servlet-name>
        <url-pattern>/SolicitudCambioAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionConductoresServlet</servlet-name>
        <url-pattern>/GestionConductoresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgramacionTurnosServlet</servlet-name>
        <url-pattern>/ProgramacionTurnosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportesServlet</servlet-name>
        <url-pattern>/ReportesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuditoriaServlet</servlet-name>
        <url-pattern>/AuditoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeConductorServlet</servlet-name>
        <url-pattern>/HomeConductorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerTurnosServlet</servlet-name>
        <url-pattern>/VerTurnosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarCambioServlet</servlet-name>
        <url-pattern>/GestionarCambioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarTurnosDisponiblesServlet</servlet-name>
        <url-pattern>/BuscarTurnosDisponiblesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistorialCambiosConductorServlet</servlet-name>
        <url-pattern>/HistorialCambiosConductorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitudesPendientesConductorServlet</servlet-name>
        <url-pattern>/SolicitudesPendientesConductorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestDBServlet</servlet-name>
        <url-pattern>/TestDBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarConductorServlet</servlet-name>
        <url-pattern>/AgregarConductorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarConductorServlet</servlet-name>
        <url-pattern>/EditarConductorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarConductorServlet</servlet-name>
        <url-pattern>/EliminarConductorServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
